<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/xiaohui</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.autocommit">true</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="jdbc.batch_size">10</property>
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <mapping class="com.demo.hibernate.entity.AddressInfo"/>
        <mapping class="com.demo.hibernate.entity.Article"/>
        <mapping class="com.demo.hibernate.entity.Authority"/>
        <mapping class="com.demo.hibernate.entity.Role"/>
        <mapping class="com.demo.hibernate.entity.User"/>
        <mapping class="com.demo.hibernate.entity.Organization"/>
    </session-factory>
</hibernate-configuration>